+++
title = "EKS News"
linkTitle = "EKS News"

+++

{{< blocks/header >}}
    
    </a>
{{< /blocks/header >}}

{{< blocks/lead color="white" >}}
The Amazon EKS newsletter, which is curated by AWS Developer Advocates, provides the latest insights on all things related to Amazon Elastic Kubernetes Service (Amazon EKS), Kubernetes, and cloud-native. 

{{< eo >}}

{{< /blocks/lead >}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-lightbulb" title="Tips" %}}
Have something you’d like to see in the next issue of EKS News? We have two ways of getting that information to us: [Open an issue on GitHub](https://github.com/aws/eks-news/issues/new/choose) or e-mail tips@eks.news
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="white" >}}
{{% blocks/feature title="Contact" %}}
You can contact us on the [#eks](https://kubernetes.slack.com/archives/C8SH2GSL9) channel on Kubernetes Slack or [#aws](https://cloud-native.slack.com/archives/C0138M7A8C8) channel on Cloud Native Computing Foundation Slack.
{{% /blocks/feature %}}
{{< /blocks/section >}}