+++
title = "EKS News"
linkTitle = "EKS News"

+++

{{< blocks/header >}}
    
    </a>
{{< /blocks/header >}}

{{< blocks/lead color="white" >}}
The latest and greatest on all things Amazon Elastic Kubernetes Service (Amazon EKS), Kubernetes, and cloud-native.

Curated by AWS Developer Advocates.

{{< eo >}}

{{< /blocks/lead >}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Tips" %}}
Have something you’d like to see in the next issue of EKS News? We have two ways of getting that information to us: [Open an issue on GitHub](https://github.com/aws/eks-news/issues/new/choose) or e-mail tips@eks.news
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contact" %}}
You can find EKS Developer Advocates in the [#eks](https://kubernetes.slack.com/archives/C8SH2GSL9) channel on Kubernetes Slack, the [#aws](https://cloud-native.slack.com/archives/C0138M7A8C8) channel on Cloud Native Computing Foundation Slack, and many places on social media.

{{% /blocks/feature %}}

{{< blocks/section >}}
<div class="col">
    <h1 class="text-left"></h1>
    By visiting this site, you accept the site's [terms](https://aws.amazon.com/terms/)
</div>
{{< /blocks/section >}}

{{< blocks/section >}}
<div class="col">
    <h1 class="text-left"></h1>
    This site is adheres to the [AWS Privacy Policy](https://aws.amazon.com/privacy/)
</div>
{{< /blocks/section >}}

{{< /blocks/section >}}